    <div class="camContainer">
      <div class= "cam" id="camGeo{{player['name']}}"> </div>
      <div class= "cam" id="camDiver{{player['name']}}"> </div>
      <div class= "cam" id="camHist{{player['name']}}"> </div>
      <div class= "cam" id="camSport{{player['name']}}"> </div>
      <div class= "cam" id="camInfo{{player['name']}}"> </div>
      <div class= "cam" id="camPerso{{player['name']}}"> </div>
    </div>

    {{player['name']}}

    {% if cam["name"] is same as (player['name']) %}
      <script id="cam" type="text/javascript" src="{{ base_url() }}/js/camembert.js?{{cam['camGeo']}}?{{cam['camDiver']}}?{{cam['camHist']}}?{{cam['camSport']}}?{{cam['camInfo']}}?{{cam['camPerso']}}?{{player['name']}}"></script>
    {% endif %}

