<!DOCTYPE html>
<html>
{% include 'GlobalHeaderView.html.twig' %}

<body>
<div class="game">
{% include 'BoardView.html.twig' %}
    <div class="bandeaux">
         {% for player in board.player %}
            {% if player["name"] == board.player[0]["name"] %}
                <div class ="bandeau1">
                    {% include 'CamembertView.html.twig' with {'player':player} %}
                </div>
            {% endif %}
            {% if player["name"] == board.player[1]["name"] %}
                <div class ="bandeau2">
                    {% include 'CamembertView.html.twig' with {'player':player} %}
                </div>
            {% endif %}
            {% if player["name"] == board.player[2]["name"] %}
                <div class ="bandeau3">
                    {% include 'CamembertView.html.twig' with {'player':player} %}
                </div>
            {% endif %}
            {% if player["name"] == board.player[3]["name"] %}
                <div class ="bandeau4">
                    {% include 'CamembertView.html.twig' with {'player':player} %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
    <form id="formQuestion" method="post" class={{theme}} action="{{ base_url() }}/SubmitQ/Game/{{idGame}}/{{theme}}">
        <p>
            <label id="question">{{ question.question }}</label>
        </p>
        <p>
            <label for="reponse" id="labelreponse">Votre réponse :</label>
            <input type="text" name="reponse" id="reponse" placeholder="Ex : test"/>
        </p>
        <input type="hidden" id="idCarte" name="idCarte" value={{ question.idCarte }}></input>
        <button class="bouttonBlack" type="submit">Envoyer le message</button>
        <br>
    </form>

</body>
<html>