<!DOCTYPE html>
<html>
{% include 'GlobalHeaderView.html.twig' %}
<body>
<div class="game">
    <div class="board">
    {% for cologne in 1..13 %}
        {% for ligne in 1..13 %}
            {% if board.grid[cologne][ligne].theme is defined %}
                <div class="{{board.grid[cologne][ligne].theme}}">
                    {% if board.grid[cologne][ligne].player is defined %}
                        <div class='divplayer'>
                        {% for player in board.grid[cologne][ligne].player %}
                            {% if player["name"] == board.player[0]["name"] %}
                                <div class="player1"></div>
                            {% endif %}
                            {% if player["name"] == board.player[1]["name"] %}
                                <div class="player2"></div>
                            {% endif %}
                            {% if player["name"] == board.player[2]["name"] %}
                                <div class="player3"></div>
                            {% endif %}
                            {% if player["name"] == board.player[3]["name"] %}
                                <div class="player4"></div>
                            {% endif %}
                        {% endfor %} 
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="null"></div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
    <div class="bandeaux">
    <div class="play">
    {% if board.grid[7][7].player|length == 0 %}
        <p>c'est au tour de {{board.player[board.turn]["name"]}} de jouer<p>
        {% if playerAct == board.player[board.turn]["name"] %}
            {% set fin = true %}
            {% for camembert in board.player[board.turn]["camemberts"] %}
                {% if camembert == 0 %}
                    {% set fin = false %}
                {% endif %}
            {% endfor %}
            {% if (board.player[board.turn]["position"][0] == 7 or board.player[board.turn]["position"][1] == 7) and fin %}
                <a class="finalButton" href="{{currentURI}}/{{board.grid[board.player[board.turn]["position"][0]][board.player[board.turn]["position"][1]].theme}}">Jouer phase finale<a>
            {% else %}
                {% if fin %}
                    <p>Rejoignez le bas d'une cologne rejoignant le millieu pour passer à l'étape final<p>
                {% endif %}
                {% include 'DiceView.html.twig' %}
            {% endif %}
        {% endif %}
    {% else %}
        {% for player in board.grid[7][7].player %}
             <p>LE JOUEUR {{player["name"]}} A GAGNÉ LA PARTIE<p>
        {% endfor %}
    {% endif %}
    </div>
        {% for player in board.player %}
            <div class ="bandeau">
                {% include 'CamembertView.html.twig' with {'player':player} %}
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>