    <head>
    <meta charset="utf-8">
    <title>{% block title %}Trivial Navigo{% endblock %} </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    {% block stylesheets %}
            <link rel="stylesheet" href="{{ base_url() }}/web/css/board.css" />
            <link rel="stylesheet" href="{{ base_url() }}/web/css/connexion.css" />
            <link rel="stylesheet" href="{{ base_url() }}/web/css/creation.css" />
            <link rel="stylesheet" href="{{ base_url() }}/web/css/start.css" />
            <link rel="stylesheet" href="{{ base_url() }}/web/css/accueil.css" />


    {% endblock %}
    </head>